<h1>Connection count for {{ app.user.username }}: {{ ConCount }}</h1>
    <table style="border:5px">
        <tr>
            <th>UserName</th>
            <th>Connect/Disconnect</th>
        </tr>
        {% for article in pagination %}
        <tr>
            {% if  article  != app.user.username   %}
            <td>
                {{ article }}
            </td>
            <td>
               <a href="/pressing/{{ article.id }}"><button>{% if article.id in ConResult %}Disconect {% else %} Connect {% endif %}</button></a>
            </td>
            {% endif %}
            {% endfor %}
        </tr>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
<a href="/logout">Logout</a>